<div class="container">
  <h1> New Movie</h1>
  <div class="alert alert-danger" *ngIf="requiredFields">
    <strong>Error:</strong> All fields are required.
  </div>
  <form (ngSubmit)="onSubmit(movieForm)" #movieForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" ngModel required />
      <label for="year">Year</label>
      <input type="text" class="form-control" name="year" ngModel required />
      <label for="director">Director</label>
      <input type="text" class="form-control" name="director" ngModel required />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
